@page "/character/{Id:guid}"
@using System.Web
@using SwDc20.Core.Domain.Entities.Weapon.V0._8
@using SwDc20.Core.Interfaces
@using SwDc20.WebBlazor.Pages.Characters.Modals.Contaners
@inject CharacterService CharacterService
@inject SkillService SkillService
@inject WeaponService WeaponService
@inject NavigationManager NavigationManager
@inject RollCommunicationService RollCommunicationService
@inject DiceRollerService DiceRollerService
@inject IScreenSizeService ScreenSizeService
@implements IDisposable
@implements IAsyncDisposable


<div class="d-flex justify-content-between align-items-center mb-3">
    <h1>@(CurrentCharacter?.Name ?? "New Character")</h1>
    @if (showSaveIndicator)
    {
        <span class="save-indicator text-sm-center"> ✅Saved</span>
    }
    @if (ShowEditSlider)
    {
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="editToggle" @bind="CanEdit" @bind:after="UpdateUrl">
            <label class="form-check-label" for="editToggle">Edit Mode</label>
        </div>
    }
</div>

@* <button type="button" @onclick="() => SendRollToToolbox()">Send to Toolbox</button> *@


<EditForm Model="@CurrentCharacter" OnValidSubmit="SaveCharacter">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    @* <FloatingDiceRoller/> *@
    <Toolbar IsMobile="@IsMobile"/>
    
    <div class="row">
        <div class="col-md-6">
            <div class="form-floating">
                <InputText id="name" @bind-Value="CurrentCharacter.Name" class="form-control" @bind-Value:after="AutoSaveCharacter" disabled="@(!CanEdit)"/>
                <label for="name">Character Name</label>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-floating">
                <InputText id="player" @bind-Value="CurrentCharacter.PlayerName" class="form-control" @bind-Value:after="AutoSaveCharacter" disabled="@(!CanEdit)"/>
                <label for="player">Player:</label>
            </div>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="form-floating">
            <div class="input-group">
                <span class="input-group-text">Level:</span>
                <InputNumber id="level" @bind-Value="CurrentCharacter.Level" class="form-control" min="0" max="20" @bind-Value:after="AutoSaveCharacter" disabled="@(!CanEdit)"/>
                <span class="input-group-text">Combat Mastery: @CurrentCharacter.CombatMastery</span>
            </div>
        </div>
    </div>

    <div class="form-group" hidden="@(!CanEdit)">
        <label for="imageUrl">Image URL</label>
        <InputText id="imageUrl" class="form-control" @bind-Value="CurrentCharacter.ImageUrl" @bind-Value:after="AutoSaveCharacter" disabled="@(!CanEdit)"/>
    </div>
    @if (!string.IsNullOrEmpty(CurrentCharacter.ImageUrl))
    {
        <img src="@CurrentCharacter.ImageUrl" alt="Character Image" style="max-width: 200px; max-height: 200px;"/>
    }

    <div class="row">
        <div class="col-md-6">
            <div class="form-floating">
                <InputText id="class" @bind-Value="CurrentCharacter.Class" class="form-control" @bind-Value:after="AutoSaveCharacter" disabled="@(!CanEdit)"/>
                <label for="class">Class</label>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-floating">
                <InputText id="subclass" @bind-Value="CurrentCharacter.Subclass" class="form-control" @bind-Value:after="AutoSaveCharacter" disabled="@(!CanEdit)"/>
                <label for="subclass">SubClass</label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="ancestry">Ancestry</label>
        <InputText id="ancestry" class="form-control" @bind-Value="CurrentCharacter.Ancestry" @bind-Value:after="AutoSaveCharacter" disabled="@(!CanEdit)"/>
    </div>

    <hr/>

    <div class="card border-danger" aria-roledescription="Attribute and Prime Container" aria-description="Container card for attribute cards and prime modifier, these are the key values for your characters, and contain Might, Agility, Charisma, and Intelligence.">
        <div class="card-header">
            <h4>Attributes</h4>
        </div>
        <div class="card-body">
            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <SwDc20.WebBlazor.Components.AttributeCardWithSave
                        AttributeName="@nameof(CurrentCharacter.Might)"
                        @bind-AttributeValue="CurrentCharacter.Might"
                        @bind-SaveMastery="CurrentCharacter.MightSaveMastery"
                        UpdateSaveMasteries="@UpdateSaveMasteries"
                        SelectedMasteriesCount="@SelectedMasteriesCount"
                        SaveValue="@Character.CalculateSaves.CalculateMightSave(CurrentCharacter)"
                        IsMobile="@IsMobile"
                        CanEdit="@CanEdit"/>
                </div>

                <div class="col-lg-3 col-md-6">
                    <SwDc20.WebBlazor.Components.AttributeCardWithSave
                        AttributeName="@nameof(CurrentCharacter.Agility)"
                        @bind-AttributeValue="CurrentCharacter.Agility"
                        @bind-SaveMastery="CurrentCharacter.AgilitySaveMastery"
                        UpdateSaveMasteries="@UpdateSaveMasteries"
                        SelectedMasteriesCount="@SelectedMasteriesCount"
                        SaveValue="@Character.CalculateSaves.CalculateAgilitySave(CurrentCharacter)"
                        IsMobile="@IsMobile"
                        CanEdit="@CanEdit"/>
                </div>

                <div class="col-lg-3 col-md-6">
                    <SwDc20.WebBlazor.Components.AttributeCardWithSave
                        AttributeName="@nameof(CurrentCharacter.Charisma)"
                        @bind-AttributeValue="CurrentCharacter.Charisma"
                        @bind-SaveMastery="CurrentCharacter.CharismaSaveMastery"
                        UpdateSaveMasteries="@UpdateSaveMasteries"
                        SelectedMasteriesCount="@SelectedMasteriesCount"
                        SaveValue="@Character.CalculateSaves.CalculateCharismaSave(CurrentCharacter)"
                        IsMobile="@IsMobile"
                        CanEdit="@CanEdit"/>
                </div>

                <div class="col-lg-3 col-md-6">
                    <SwDc20.WebBlazor.Components.AttributeCardWithSave
                        AttributeName="@nameof(CurrentCharacter.Intelligence)"
                        @bind-AttributeValue="CurrentCharacter.Intelligence"
                        @bind-SaveMastery="CurrentCharacter.IntelligenceSaveMastery"
                        UpdateSaveMasteries="@UpdateSaveMasteries"
                        SelectedMasteriesCount="@SelectedMasteriesCount"
                        SaveValue="@Character.CalculateSaves.CalculateIntelligenceSave(CurrentCharacter)"
                        IsMobile="@IsMobile"
                        CanEdit="@CanEdit"/>
                </div>

            </div>
        </div>
        <div class="card-footer">
            <figure class="text-center border-info">
                <blockquote class="blockquote">
                    <p>Prime Modifier: @CurrentCharacter.PrimeModifier</p>
                </blockquote>
            </figure>
        </div>
    </div>

    <hr/>

    <HealthStaminaManaContainer Character="@CurrentCharacter" CanEdit="@CanEdit" IsMobile="@IsMobile" OnChanged="@AutoSaveCharacter"/>

    <hr/>

    <DefenseContainer Character="@CurrentCharacter" CanEdit="@CanEdit" OnDefensesChanged="@AutoSaveCharacter"/>

    <hr/>

    <SkillsContainer Character="@CurrentCharacter" CanEdit="@CanEdit" IsMobile="@IsMobile" OnChanged="@AutoSaveCharacter"/>

    <hr/>

    <TradesContainer Character="@CurrentCharacter" OnTradesChanged="@AutoSaveCharacter" CanEdit="@CanEdit"/>

    <hr/>

    <LanguageContainer Character="@CurrentCharacter" CanEdit="@CanEdit" OnLanguagesChanged="@AutoSaveCharacter"/>


    <hr/>

    <CombatContainer Character="@CurrentCharacter" CanEdit="@CanEdit" IsMobile="@IsMobile" OnCombatChanged="AutoSaveCharacter"/>

    <hr/>

    <InventoryContainer Character="@CurrentCharacter" CanEdit="@CanEdit" IsMobile="@IsMobile" OnInventoryChanged="@AutoSaveCharacter"/>

    <hr/>

    <FeaturesContainer Character="@CurrentCharacter" CanEdit="@CanEdit" OnFeaturesChanged="@AutoSaveCharacter"/>

    <hr/>

    <ResourceContainer Character="@CurrentCharacter" CanEdit="@CanEdit" OnResourcesChanged="@AutoSaveCharacter"/>

    <hr/>

    @* <div class="card" aria-roledescription="" aria-description=""> *@
    @*     <div class="card-header"></div> *@
    @*     <div class="card-body"></div> *@
    @*     <div class="card-footer"></div> *@
    @* </div> *@


    @if (CanEdit)
    {
        <button type="submit" class="btn btn-primary" @onclick="SaveCharacterAndClose">Save Character</button>
    }

    @* <button type="button" class="btn btn-secondary" @onclick="Cancel">Cancel</button> *@


</EditForm>

@code
{
    [Parameter] public Guid Id { get; set; } = Guid.NewGuid();
    [Parameter] public bool CanEdit { get; set; } = false;
    private bool IsMobile { get; set; } = false;
    private bool ShowEditSlider { get; set; } = true;
    
    public Character CurrentCharacter { get; set; } = new()
    {
        Id = Guid.NewGuid(), 
        Version = Character.CurrentVersion
    };
    private List<DocumentWrapper<Skill>> availableSkills;
    private List<DocumentWrapper<Weapon>> availableWeapons = [];
    private bool showSaveIndicator = false;
    
    protected override async Task OnInitializedAsync()
    {        
        var uri = new Uri(NavigationManager.Uri);
        var query = HttpUtility.ParseQueryString(uri.Query);

        var editQuery = query["edit"];
        if (!string.IsNullOrWhiteSpace(editQuery))
        {
            CanEdit = editQuery.Equals("true", StringComparison.InvariantCultureIgnoreCase);
        }
        
        await base.OnInitializedAsync();
        await CheckIfMobileAsync();
        ScreenSizeService.IsMobileChanged += OnIsMobileChanged;
        StateHasChanged();
        
        var characterWrapper = await CharacterService.GetCharacterAsync(Id);
        
        CurrentCharacter = characterWrapper?.Document ?? new Character
                        {
                            Id = Id,
                            Version = Character.CurrentVersion,
                            Resources = new List<CharacterResource>()
                        };

        availableSkills = await SkillService.GetSkillsAsync();

        if (!availableSkills.Any())
        {
            availableSkills = SkillService.GetDefaultSkills()
                    .Select(s => new DocumentWrapper<Skill>
                                {
                                    ContentId = s.Id,
                                    Document = s,
                                    DocumentType = "Skill",
                                    ContentVersion = s.Version
                                }
                    ).ToList();
        }
        
        if (!CurrentCharacter.Skills.Any())
        {
            CurrentCharacter.Skills = availableSkills.Select(s => s.Document)
                    .Select(s => new Skill()
                                {
                                    Id = s.Id,
                                    Name = s.Name,
                                    AttributeUsed = s.AttributeUsed,
                                    Tag = s.Tag,
                                    UseForMartialCheck = s.UseForMartialCheck,
                                    Version = Skill.CurrentVersion
                                }
                    ).ToList();
        }


        if (CurrentCharacter.ActionPoints == 0)
        {
            CurrentCharacter.ActionPoints = 4;
        }


        availableWeapons = await WeaponService.GetWeaponsAsync();
        
        
        if (!CurrentCharacter.IsInitiallySaved)
        {
            ShowEditSlider = false;
            CanEdit = true;
        }
        else
        {
            ShowEditSlider = true;
        }
    }

    #region Mobile Phone Check

    private async Task CheckIfMobileAsync()
    {
        IsMobile = await ScreenSizeService.IsMobileAsync();
        StateHasChanged();
    }

    private void OnIsMobileChanged(object sender, bool isMobile)
    {
        IsMobile = isMobile;
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        // Synchronous cleanup
        ScreenSizeService.IsMobileChanged -= OnIsMobileChanged;
    }
    
    public async ValueTask DisposeAsync()
    {
        // Asynchronous cleanup
        Dispose();  // Call the synchronous cleanup first

        if (ScreenSizeService is IAsyncDisposable disposable)
        {
            await disposable.DisposeAsync();
        }
    }

    #endregion
    
    
    private void UpdateUrl()
    {
        if(CanEdit)
        {
            var uri = NavigationManager.GetUriWithQueryParameter("edit", CanEdit);
            NavigationManager.NavigateTo(uri, false);
        }
        else
        {
            RemoveQueryParameter("edit");
        }
    }
    
    private void RemoveQueryParameter(string parameterName)
    {
        var uri = new Uri(NavigationManager.Uri);
        var queryParams = System.Web.HttpUtility.ParseQueryString(uri.Query);

        if (queryParams[parameterName] != null)
        {
            queryParams.Remove(parameterName);

            var uriBuilder = new UriBuilder(uri);
            uriBuilder.Query = queryParams.ToString();

            NavigationManager.NavigateTo(uriBuilder.Uri.ToString(), forceLoad: false);
        }
    }


    private async Task SaveCharacter()
    {
        if (CurrentCharacter != null)
        {
            var characterWrapper = new DocumentWrapper<Character>
                        {
                            Document = CurrentCharacter,
                            ContentId = CurrentCharacter.Id,
                            ContentVersion = CurrentCharacter.Version
                        };
            
            await CharacterService.SaveCharacterAsync(characterWrapper);

            if (!CurrentCharacter.IsInitiallySaved)
            {
                // Skip save if the character hasn't been initially saved
                return;
            }
            showSaveIndicator = true;
            StateHasChanged();
            await Task.Delay(2000);
            showSaveIndicator = false;
            StateHasChanged();
        }
    }

    private async Task SaveCharacterAndClose()
    {
        CurrentCharacter.CreatedTimestamp = DateTime.Now;
        CurrentCharacter.IsInitiallySaved = true;
        
        await SaveCharacter();
        NavigationManager.NavigateTo("/characters");
    }

    private int SelectedMasteriesCount => (CurrentCharacter?.MightSaveMastery == true ? 1 : 0) + (CurrentCharacter?.AgilitySaveMastery == true ? 1 : 0) + (CurrentCharacter?.CharismaSaveMastery == true ? 1 : 0) + (CurrentCharacter?.IntelligenceSaveMastery == true ? 1 : 0);

    private async Task UpdateSaveMasteries()
    {
        await AutoSaveCharacter();
    }

    private async Task AutoSaveCharacter()
    {
        if (!CurrentCharacter.IsInitiallySaved)
        {
            // Skip autosave if the character hasn't been initially saved
            return;
        }
        
        await SaveCharacter();
    }
}