@using SwDc20.Core.Domain.Entities.Roll
@using SwDc20.Core.Domain.Enums
@inject SkillService SkillService
@inject IModalService ModalService
@inject DiceRollerService DiceRollerService
@inject RollCommunicationService RollCommunicationService

<div class="card border-info" aria-roledescription="Skills Container" aria-description="Container for your skills, this allows you to handle either your custom skills or default skills, once you do that you can then further customize.">
    <div class="card-header">
        <div class="row align-items-center">
            <div class="col">
                <h4>Skills</h4>
                @if(DemoMode)
                {
                    <row class="d-flex flex-nowrap">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="versionTwo" @bind="VersionTwo" @bind:after="VersionTwoAlignment">
                            <label class="form-check-label" for="versionTwo">Version Two</label>
                        </div>
                        @if (VersionTwo)
                        {
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="compact" @bind="CompactVersion">
                            <label class="form-check-label" for="compact">Compact Version Two</label>
                        </div>
                        }
                    </row>
                    <row>
                        <p class="small">The goal for version two is to be more compact and have elements side by side, attributes on the right, skills in the middle, Action/Inventory etc on the right</p>
                        <p class="small">You can right click on the Value, or Long press (this is meant for mobile) to bring up the Advantage/Disadvantage Roller</p>
                    </row>
                }
            </div>
            @if (CanEdit)
            {
                <div class="col-auto">
                    <button type="button" class="btn btn-primary btn-sm" @onclick="AddSkill" title="Add Skill">+ Add New Skill Modal</button>
                </div>
            }
        </div>
    </div>
    @* Show Rank, Attribute User (First 3), Skill, and Bonus *@
    <div class="card-body">
        <table class="table table-borderless table-striped table-hover">
            <thead>
            <tr>
                <th>Name</th>
                @if (!IsMobile && !CompactVersion)
                {
                    <th>Attribute</th>
                }
                @if (CanEdit)
                {
                    <th>Tag</th>
                    <th>Rank</th>
                }
                @if (!VersionTwo)
                {
                    @if (!IsMobile && !CompactVersion)
                    {
                        <th>Value</th>
                    }
                }
                
                @if (CanEdit)
                {
                    <th>Actions</th>
                }
                else
                {
                    <th>
                        @(VersionTwo ? "Value" : "Skill Check") 
                    </th>
                }
            </tr>
            </thead>
            <tbody>
            @foreach (var skill in Character.Skills)
            {
                <tr>
                    <td>
                        @if (CompactVersion)
                        {
                            <span>@($"({skill.AttributeUsed.Substring(0,3)})")</span>
                        }
                        @($"{skill.Name}{(IsMobile ? $" ({skill.CalculateValue(Character)})" : "")}")
                    </td>
                    @if (!IsMobile && !CompactVersion)
                    {
                        <td>@skill.AttributeUsed</td>
                    }
                    @if (CanEdit)
                    {
                        <td>@skill.Tag</td>
                        <InputNumber class="form-control" @bind-Value="skill.Rank"/>
                    }
                    @if (!VersionTwo)
                    {
                        @if (!IsMobile && !CompactVersion)
                        {
                            <td>@skill.CalculateValue(Character)</td>
                        }
                    }
                    @if (CanEdit)
                    {
                        <td>
                            <button type="button" class="btn btn-sm btn-secondary" @onclick="() => EditSkill(skill)">Edit</button>
                            <button type="button" class="btn btn-sm btn-danger" @onclick="() => RemoveSkill(skill)">Remove</button>
                        </td>
                    }
                    else
                    {
                        @if (VersionTwo)
                        {
                            <td>
                                <RollComponent Model="new RollRequest { Name = skill.Name, Modifier = skill.CalculateValue(Character), Description = skill.Tag, IsSave = false }"/>
                            </td>    
                        }
                        else
                        {
                            <td>
                                <div class="d-flex flex-column">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <span class="text-danger">@(IsMobile ? "-" : "Disadvantage")</span>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <input type="range" class="form-range" min="0" max="2" step="1" @bind-value="RollTypeIndex" @bind-value:event="oninput"/>
                                        </div>
                                        <span class="text-success">@(IsMobile ? "+" : "Advantage")</span>
                                        @if (CurrentRollType != RollType.Normal)
                                        {
                                            <InputNumber @bind-Value="Quantity" class="form-control w-25" min="2"/>
                                        }
                                        else
                                        {
                                            <input type="number" class="form-control w-25" value="1" disabled="disabled"/>
                                            @* <InputNumber Value="1" class="form-control w-25" min="1" disabled="true"/> *@
                                        }
                                        <button type="button" class="btn @GetRollButtonClass()" @onclick="() => Roll(skill)">Check</button>
                                
                                    </div>
                                </div>
                            </td>
                        }
                    }

                </tr>
            }
            </tbody>
            @if (CanEdit)
            {
                <tfoot>
                <tr>
                    <th colspan="3">Total</th>
                    <th>@Character.Skills.Sum(i => i.Rank)</th>
                    <th colspan="2"></th>
                </tr>
                </tfoot>
            }
        </table>
    </div>
    @if (CanEdit)
    {
        <div class="card-footer">
            <h6>Add Knowledge Skill</h6>
            <div class="input-group">
                <label class="input-group-text" for="newSkillName">Skill Name</label>
                <InputText id="newSkillName" @bind-Value="newSkillName" class="form-control"/>
                <button type="button" class="btn btn-primary" @onclick="AddNewSkill">Add Skill</button>
            </div>
        </div>
    }
</div>

@code {
    [Parameter] public Character Character { get; set; }
    [Parameter] public bool CanEdit { get; set; } = true;
    [Parameter] public EventCallback<Character> OnChanged { get; set; }
    [Parameter] public bool IsMobile { get; set; }
    
    
    [Parameter] public bool CompactVersion { get; set; }
    [Parameter] public bool VersionTwo { get; set; } = true;
    [Parameter] public bool DemoMode { get; set; } = true;

    private async Task OnResourceChanged()
    {
        await OnChanged.InvokeAsync(Character);
    }

    private List<DocumentWrapper<Skill>> availableSkills;
    private string newSkillName = "";
    private string newSkillAttribute = "Intelligence";
    private string newTagAttribute = "Knowledge";

    protected override async Task OnInitializedAsync()
    {
        availableSkills = await SkillService.GetSkillsAsync();

        if (availableSkills.Count() == 0)
        {
            availableSkills = SkillService.GetDefaultSkills().Select(s => new DocumentWrapper<Skill>
            {
                ContentId = s.Id,
                Document = s,
                DocumentType = "Skill",
                ContentVersion = s.Version
            }).ToList();
        }

        if (Character.Skills.Count == 0)
        {
            Character.Skills = availableSkills.Select(s => s.Document).Select(s => new Skill()
            {
                Id = s.Id,
                Name = s.Name,
                AttributeUsed = s.AttributeUsed,
                Tag = s.Tag,
                UseForMartialCheck = s.UseForMartialCheck,
                Version = Skill.CurrentVersion
            }).ToList();
        }
    }
    
    private void VersionTwoAlignment()
    {
        if (!VersionTwo)
        {
            CompactVersion = false;
        }
    }

    private async Task AddSkill()
    {
        if (!CanEdit) return;

        var parameters = new ModalParameters();
        parameters.Add(nameof(SkillEditForm.Skill), new Skill
        {
            AttributeUsed = SkillService.GetAttributeOptions().First(),
            Id = Guid.NewGuid(),
            Version = Skill.CurrentVersion
        });

        var options = new ModalOptions()
        {
            Size = ModalSize.Small,
            Position = ModalPosition.Middle
        };

        var modal = ModalService.Show<SkillEditForm>("Add Skill", parameters, options);
        var result = await modal.Result;

        if (!result.Cancelled)
        {
            var newSkill = (Skill)result.Data;
            Character.Skills.Add(newSkill);
        }
    }

    private void AddNewSkill()
    {
        if (!CanEdit) return;

        if (!string.IsNullOrWhiteSpace(newSkillName) && !Character.Skills.Any(s => s.Name == newSkillName))
        {
            var newSkill = new Skill(newSkillName, newSkillAttribute, newTagAttribute)
            {
                Id = Guid.NewGuid(),
                Version = Skill.CurrentVersion
            };
            Character.Skills.Add(newSkill);
            availableSkills.Add(new DocumentWrapper<Skill>
            {
                ContentId = newSkill.Id,
                Document = newSkill,
                DocumentType = "Skill",
                ContentVersion = newSkill.Version
            });
            SkillService.SaveSkillAsync(newSkill);

            newSkillName = "";
            newSkillAttribute = "Intelligence";
            newTagAttribute = "Knowledge";
            StateHasChanged();
        }
    }

    private async Task EditSkill(Skill skill)
    {
        if (!CanEdit) return;

        var parameters = new ModalParameters();
        parameters.Add(nameof(SkillEditForm.Skill), new Skill
        {
            Id = skill.Id,
            Name = skill.Name,
            AttributeUsed = skill.AttributeUsed,
            Rank = skill.Rank,
            UseForMartialCheck = skill.UseForMartialCheck,
            Tag = skill.Tag,
            Version = skill.Version
        });

        var options = new ModalOptions()
        {
            Size = ModalSize.Small,
            Position = ModalPosition.Middle
        };

        var modal = ModalService.Show<SkillEditForm>("Edit Skill", parameters, options);
        var result = await modal.Result;

        if (!result.Cancelled)
        {
            var editedSkill = (Skill)result.Data;
            var index = Character.Skills.FindIndex(s => s.Id == editedSkill.Id);
            if (index != -1)
            {
                Character.Skills[index] = editedSkill;
            }
        }
    }

    private void OpenDiceRollModal(string title, string description, int modifier)
    {
        var parameters = new ModalParameters()
            .Add(nameof(DiceRollerModal.Title), title)
            .Add(nameof(DiceRollerModal.Description), description)
            .Add(nameof(DiceRollerModal.Modifier), modifier);

        ModalService.Show<DiceRollerModal>("Dice Roll", parameters);
    }

    private async Task RollDice(int Quantity, int Modifier, RollType CurrentRollType, string Title)
    {
        DiceRollerService.RollDice(20, Quantity, Modifier, CurrentRollType, Title);
    }

    private void RemoveSkill(Skill skill)
    {
        if (!CanEdit) return;
        Character.Skills.Remove(skill);
    }

    #region Better Roll Setup

    //todo: Move this to a shared component, takes in skill info and rolls the dice

    private int RollTypeIndex { get; set; } = 1; // 0: Disadvantage, 1: Normal, 2: Advantage
    private int Quantity { get; set; } = 2;

    private RollType CurrentRollType => RollTypeIndex switch
    {
        0 => RollType.Low,
        1 => RollType.Normal,
        2 => RollType.High,
        _ => RollType.Normal
    };

    private string CurrentRollTypeText => CurrentRollType switch
    {
        RollType.Low => "Disadvantage",
        RollType.Normal => "Normal",
        RollType.High => "Advantage",
        _ => "Normal"
    };

    private string GetRollButtonClass()
    {
        return CurrentRollType switch
        {
            RollType.Normal => "btn-info",
            RollType.High => "btn-success",
            RollType.Low => "btn-danger",
            _ => "btn-secondary"
        };
    }

    private void Roll(Skill skill)
    {
        int quantity = CurrentRollType == RollType.Normal ? 1 : Quantity;

        RollCommunicationService.RequestRoll(20, quantity, skill.CalculateValue(Character), CurrentRollType, $"{skill.Name} check", null);
        ResetRoll();
    }

    private void ResetRoll()
    {
        RollTypeIndex = 1; // Reset to Normal
        Quantity = 2;
    }

    #endregion

}