@using SwDc20.WebBlazor.Pages.Characters.Modals.CharacterSheet

<div class="card border-secondary" aria-roledescription="Defenses Container" aria-description="Container for your Physical and Mystical defenses. This also contains your Heavy and Brutal Calculations along with the Physical and Mental Damage Reductions.">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h4>Defenses</h4>
        <CharacterSheet_DefensesModal
            Character="@Character"
            OnAttributesChanged="@OnChanged"/>
    </div>
    <div class="card-body">
        <div class="card-group">
            <div class="card col-md-6">
                <div class="card-header">
                    <h6>@(VersionTwo ? "PD" : "Physical Defense")</h6>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            @if (VersionTwo)
                            {
                                <div class="form-group">
                                    <InputNumber id="physicalDefense" @bind-Value="Character.PhysicalDefense" class="form-control" disabled="@(!CanEdit)"/>    
                                </div>
                            }
                            else
                            {
                                <div class="form-floating">
                                    <InputNumber id="physicalDefense" @bind-Value="Character.PhysicalDefense" class="form-control" disabled="@(!CanEdit)"/>
                                    <label for="physicalDefense">Physical Defense</label>
                                </div>
                            }
                           
                        </li>
                        <li class="list-group-item">
                            <p class="small">Heavy: @(Character.PhysicalDefense+5)</p>
                        </li>
                        <li class="list-group-item">
                            <p class="small">Brutal: @(Character.PhysicalDefense+10)</p>
                        </li>
                    </ul>
                </div>
                <div class="card-footer">
                    @if (VersionTwo)
                    {
                        <div class="form-group">
                            <label class="small" for="physicalDefenseReduction">PDR</label>
                            <InputNumber id="physicalDefenseReduction" @bind-Value="Character.PhysicalDamageReduction" class="form-control" disabled="@(!CanEdit)"/>
                        </div>
                    }
                    else
                    {
                        <div class="form-floating">
                            <InputNumber id="physicalDefenseReduction" @bind-Value="Character.PhysicalDamageReduction" class="form-control" disabled="@(!CanEdit)"/>
                            <label for="physicalDefenseReduction">Physical Defense Reduction</label>
                        </div>
                    }
                    
                </div>
            </div>
            
            <div class="card col-md-6">
                <div class="card-header">
                    <h6>@(VersionTwo ? "MD" : "Mystical Defense")</h6>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            @if (VersionTwo)
                            {
                                <div class="form-group">
                                    <InputNumber id="mysticalDefense" @bind-Value="Character.MysticalDefense" class="form-control" disabled="@(!CanEdit)"/>
                                </div>
                            }
                            else
                            {
                                <div class="form-floating">
                                    <InputNumber id="mysticalDefense" @bind-Value="Character.MysticalDefense" class="form-control" disabled="@(!CanEdit)"/>
                                    <label for="mysticalDefense">Mystical Defense</label>
                                </div>
                            }
                        </li>
                        <li class="list-group-item">
                            <p class="small">Heavy: @(Character.MysticalDefense+5)</p>
                        </li>
                        <li class="list-group-item">
                            <p class="small">Brutal: @(Character.MysticalDefense+10)</p>
                        </li>
                    </ul>
                </div>
                <div class="card-footer">
                    @if (VersionTwo)
                    {
                        <div class="form-group">
                            <label class="small" for="mysticalDefenseReduction">MDR</label>
                            <InputNumber id="mysticalDefenseReduction" @bind-Value="Character.MysticalDamageReduction" class="form-control" disabled="@(!CanEdit)"/>
                        </div>
                    }
                    else
                    {
                        <div class="form-floating">
                            <InputNumber id="mysticalDefenseReduction" @bind-Value="Character.MysticalDamageReduction" class="form-control" disabled="@(!CanEdit)"/>
                            <label for="mysticalDefenseReduction">Mystical Defense Reduction</label>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public Character Character { get; set; }
    [Parameter] public bool CanEdit { get; set; } = true;
    [Parameter] public EventCallback OnChanged { get; set; }
    [Parameter] public bool VersionTwo { get; set; }
}